.navbar {
    margin-bottom: 0;
    border-radius: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 4px;
}

.dis {
    display: flex;
    margin-left: 15px;
}

.header-top {
    margin-top: 4px;
}

.navbar-nav>li {
    padding-right: 20px;

}

.navbar-right {
    margin-right: 5px;
}

@media screen and (max-width: 770px) {
    .navbar-nav {
        margin-left: 20px;
    }
}