::-webkit-scrollbar {
  width: 7px;
}


::-webkit-scrollbar-track {
  background: #2d1950;
}


::-webkit-scrollbar-thumb {
  background: rgb(178, 121, 216);
  border-radius: 12px;
}


::-webkit-scrollbar-thumb:hover {
  background: rgb(222, 130, 235);
  border-radius: 12px;
}